<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
                <nav class="bottom-menu">
            <a href="{{path('app_home')}}">
                <img src="/img/icones/house-solid (2).svg" class="menu-icon" alt="Accueil icon">Accueil
            </a>
            <a href="{{path('app_home')}}">
                <img src="/img/icones/sheet-plastic-solid.svg" class="menu-icon" alt="Réflexologie icon">La réflexologie
            </a>
            <a href="{{path('app_home')}}">
                <img src="/img/icones/list-solid (1).svg" class="menu-icon" alt="Séances icon">Les séances
            </a>
            <a href="{{path('app_home')}}">
                <img src="/img/icones/user-solid (1).svg" class="menu-icon" alt="Parcours icon">Mon parcours
            </a>
            <a href="{{path('app_home')}}">
                <img src="/img/icones/phone-solid (1).svg" class="menu-icon" alt="Contact icon">Contact
            </a>
        </nav>
    </body>
</html>
